<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Car Form</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
  <h1>New Car Info</h1>
  <form action ='/' method = 'post'>
    Car Name:<br>
    <input type="text" name="name" value="">
    <br>
    Year:<br>
    <input type="text" name="Year" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <!-- Link to JS code -->
  <script src="app.js" charset="utf-8"></script>
</body>
</html>
