<html>
<head>
<title>Dojo Redux</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript">

    </script>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action='/quotes' method='post'>
      Your Name:<input type="text" name='name'>
      <br>
      Quote: <textarea name='quote' rows= '10' cols='60'></textarea>
      <br>
      <input type='submit' value='Submit'>
    </form>
</body>
</html>
