<!DOCTYPE html>
<html>
	<head>
		<title>All Products</title>
	</head>
	<body>
    <h1>Products</h1>
    <table>
      <tr>
				<th>Product Number<th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      {% for product in products %}
      <tr>
				<td>{{product.id}}<td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td><a href="/products/{{product.id}}/show">Show</a><a href="/products/{{product.id}}/edit">Edit</a><a href="/products/{{product.id}}/destroy">Remove</a></td>
      </tr>
      {% endfor %}
    </table>
		<form action="{% url 'products:new' %}" method='post'>
      {% csrf_token %}
      <input type='submit' value='Add new product'>
    </form>
	</body>
</html>
