<html>
<head>
<title>Testing</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript">

    </script>
</head>
<body>
    <h1>List of Users</h1>
    <% if(typeof(errors) != 'undefined' ) { %>
    <% for (var x in errors) { %>
     <h3><%= errors[x].message %></h3>
    <% } %>
    <% } %>
    <form action='/users' method='post'>
      Your Name:<input type="text" name='name'>
      <br>
      Age: <input type='text' name='age'>
      <br>
      <input type='submit' value='Submit'>
    </form>
</body>
</html>
