<html>
<head>
<title>New Animal</title>
</head>
<body>
    <h1>Insert your new Animal</h1>
    <form action='/mongooses' method='post'>
      Animal:<input type="text" name='animal'>
      <br>
      Age:<input type="text" name='age'>
      <br>
      Number of Legs?: <input type='text' name='num_of_legs'>
      <input type='submit' value='Submit the New Animal'>
    </form>
</body>
</html>
