.wrapper {
  width: 600px auto;
}
h1, p {
  text-align: center;
}
.right_box {
  height: 300px;
  width: 300px;
  color: green;
  border: solid black 2px;
}
.right_box h3,button {
  text-align: center;
}
.wrong_box {
  height: 300px;
  width: 300px;
  color: red;
  border: solid black 2px;
}
.wrong_box h3 {
  text-align: center;
}
